@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body{
    font-family: 'Indie Flower', cursive;
    
}
nav{
    padding-left: 80px;
    padding-right:50px;
    background-color: #FD9FC3;
    color: white
}
.nav-link{
    color: white
}

nav a:hover{
    color: black
}
nav img{
    width: 50px;
    border-radius: 30%;
    border: 2px solid white
}
h1{
    font-size: 30px;
    margin-right: 30px
}
@media(max-width: 500px){
    h1{
        margin: none
    }
}
nav li{
    margin: 5px 15px
}
nav li:hover{
    background-color: #E0CEFE;
    border-radius: 10%;
    transition-duration: .5s;
}
.users{
    margin-left:auto;
    margin-right: auto
}
/*Fim da estilização do navbar*/

.roxo{
    background-color: #E0CEFE;
    text-align: center;
}
.fundo{
    background-image: url("../imgs/imagem-fundo-claro-brilhante.jpg");
    background-size: cover;
    repeat: no-repeat;
    width: 100%;

}
.seção-produtos{
    margin-top: 50px
}
.produtos{
    background-color: white
}
.produto{
    max-width: 250px;
    align-items: center
}
.produto img{
    width: 130px;
    height: 130px;
    border-radius: 20%;
    border: solid 1px black
}
.container-produtos{
    border-radius: 2%;
    border: 1px solid gray;
    min-height: 500px
}
.titulo-produto{
    font-size: 22px;
}
.preço-produto{
    font-size: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.bolder{
    font-weight: bolder;
}

/*Fim da estilização sessão produtos*/

.center{
    margin: 40px 0;
    text-align: center;
}
small{
    font-size: 40px;
    opacity: .8;
}
.contato i{
    font-size: 100px;
}
.fa-whatsapp{
    color: rgb(6, 226, 6)
}
.fa-facebook{
    color: rgb(10, 93, 248)
}
.fa-instagram{
    color: rgb(241, 33, 68)
}
.slide{
    margin: 40px 0;
    padding: 0 20px;
}
.carousel-item img{
    min-height: 340px;
    border-radius: 10%;
    border: 1px solid gray;
    
    transition-duration: 1s;
}
.carousel-control-prev-icon{
    color: black;
    box-shadow: 1px solid;
}
.rodape{
    font-weight: bolder;
}